<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/About">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/sigin">Sigin</a></li>
    </ul>
  </nav>
</header>
