<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GymBuddy Success</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
     <ul>
        <% students.forEach((student) => { %>
        <li>
          <a href=""><%= student.name %></a>
          <h3>with email address <%=student.email %></h3>
        </li>
        <% }) %>
      </ul>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
