<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partial/header.ejs') %>
    <main>
        <ul>
            <% students.forEach((student) => { %>
                <li>
                    <a><%= student.Name %></a>
                    <h3>with email address <%=student.email %></h3>
                </li>
            <%}) %>
        </ul>
    </main>
    <%- include('../partial/footer.ejs') %>
</body>
</html>